*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/misc.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
.DS_Store
/buildSrc/build
/build
/captures
/sources/**/build/
.externalNativeBuild
.cxx
.idea/misc.xml
local.properties
